:root {
  --white: hsl(0, 0%, 100%);
  --jet: hsl(120, 1%, 17%);
  --dark: hsl(208, 37%, 20%);
  --accent: hsl(228, 64%, 52%);
  --highlight: hsl(228, 64%, 64%);
  --shadow: hsla(0, 0%, 0%, 0.13);
  --lightgrey: hsl(60, 3%, 93%);
  --h3grey: hsl(218, 12%, 64%);
  background-color: var(--lightgrey);
  color: var(--jet);
  font-family: "Inter", sans-serif;

  ::selection {
    background-color: var(--highlight);
    color: var(--white);
  }
}

html,
body {
  height: 100vh;
  margin: 0;
}

html {
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--dark);
  color: var(--lightgrey);
  margin-bottom: 1rem;
}

/* Link styles */

.link__anchor {
  border-radius: 4px;
  transition: all 0.16s linear;
  display: flex;
  align-items: center;
  padding: 0.1rem 0.2rem;
}

.link__wrapper {
  display: inline-block
}

.link__icon {
  transition: all 0.16s linear;
  opacity: 0;
  width: 1rem;
  height: 1rem;
}

.link__anchor:hover {
  background-color: var(--lightgrey);
}

.link__anchor:hover .link__icon {
  opacity: 1;
}

/* Card Styles */
.card-container {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: fit-content;
  margin: 0 auto;
}

.card {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
    0 2px 2px 0 rgba(0, 0, 0, .14),
    0 1px 5px 0 rgba(0, 0, 0, .12);
  text-decoration: none;
  background-color: var(--white);
  color: var(--jet);
  border-radius: 4px;
}

.card__actions {
  align-items: center;
  display: flex;
  padding: 0.5rem;
}

.card__main {
  align-items: center;
  padding: 1rem;
}

.card__main .card__img {
  text-align: center;
}

.portfolio .card__main {
  grid-template-columns: 1fr;
}

.card__main img {
  max-width: 100px;
}

.card__text {
  padding: 1rem;
  width: 100%;
}

.portfolio .card__text {
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

@media (prefers-color-scheme: light) {
  .card {
    background-color: var(--white);
    border-color: var(--white);
    color: var(--jet);
  }
}
