:root {
  --white: hsl(0, 0%, 100%);
  --jet: hsl(120, 1%, 17%);
  --charcoal: hsl(0, 0%, 12%);
  --dark: hsl(208, 37%, 20%);
  --accent: hsl(228, 64%, 52%);
  --highlight: hsl(228, 64%, 64%);
  --shadow: hsla(0, 0%, 0%, 0.13);
  --lightgrey: hsl(60, 3%, 93%);
  --h3grey: hsl(218, 12%, 64%);
  --control: hsl(216, 12%, 92%);
  background-color: var(--lightgrey);
  color: var(--jet);
  font-family: "Inter", sans-serif;

  ::selection {
    background-color: var(--highlight);
    color: var(--white);
  }
}

html,
body {
  height: 100vh;
  margin: 0;
}

html {
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--dark);
  color: var(--lightgrey);
  margin-bottom: 1rem;
}

/* Input Styles */

.control {
  padding: 0.3rem 0.6rem;
  border: 1px solid var(--lightgrey);
  border-radius: 6px;
  box-shadow: var(--control) 0px 1px 3px -1px;
}

/* Loader */

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 10px;
  background: var(--accent);
  border-radius: 5px;
  -webkit-animation: load 1.8s ease-in-out infinite;
  animation: load 1.8s ease-in-out infinite;
}

.loader:before,
.loader:after {
  position: absolute;
  display: block;
  content: "";
  -webkit-animation: load 1.8s ease-in-out infinite;
  animation: load 1.8s ease-in-out infinite;
  height: 10px;
  border-radius: 5px;
}

.loader:before {
  top: -20px;
  left: 10px;
  width: 40px;
  background: var(--dark);
}

.loader:after {
  bottom: -20px;
  width: 35px;
  background: var(--accent);
}

@-webkit-keyframes load {
  0% {
    transform: translateX(40px);
  }

  50% {
    transform: translateX(-30px);
  }

  100% {
    transform: translateX(40px);
  }
}

@keyframes load {
  0% {
    transform: translateX(40px);
  }

  50% {
    transform: translateX(-30px);
  }

  100% {
    transform: translateX(40px);
  }
}

/* Button Styles */

.btn {
  cursor: pointer;
  padding: 0.3rem 0.6rem;
  border: 1px solid var(--accent);
  border-radius: 5px;
  font-weight: 500;
  background: var(--accent);
  color: var(--white);
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: var(--highlight);
}

/* Link styles */

.link__anchor {
  border-radius: 4px;
  transition: all 0.16s linear;
  display: flex;
  align-items: center;
  padding: 0.1rem 0.2rem;
}

.link__wrapper {
  display: inline-block
}

.link__icon {
  transition: all 0.16s linear;
  opacity: 0;
  width: 1rem;
  height: 1rem;
}

.link__anchor:hover {
  background-color: var(--lightgrey);
}

.link__anchor:hover .link__icon {
  opacity: 1;
}

/* Card Styles */
.card-container {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: fit-content;
  margin: 0 auto;
}

.card {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
    0 2px 2px 0 rgba(0, 0, 0, .14),
    0 1px 5px 0 rgba(0, 0, 0, .12);
  text-decoration: none;
  background-color: var(--white);
  color: var(--jet);
  border-radius: 4px;
  width: 100%;
}

.card__actions {
  align-items: center;
  display: flex;
  padding: 0.5rem;
}

.card__main {
  padding: 1rem;
}

.card__main .card__img {
  text-align: center;
}

.portfolio .card__main {
  grid-template-columns: 1fr;
}

.card__main img {
  max-width: 100px;
}

.card__text {
  padding: 1rem;
  width: 100%;
}

.portfolio .card__text {
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

@media (prefers-color-scheme: light) {
  .card {
    background-color: var(--white);
    border-color: var(--white);
    color: var(--jet);
  }
}
